body {
	font-family: 'Exo 2', sans-serif;
	background-color: #f5f5f5;
	line-height: 1.4;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.container {
	max-width: 1100px;
	width: 100%;
	padding: 0 20px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.div-title {
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	padding-bottom: 5px;
    margin-top: -20px;
}

.title {
	font-size: 35px;
    font-weight: bold;
	text-align: center;
}

.sub-title {
	margin-top: -30px;
	text-transform: capitalize;
}

.div_gerador {
	width: 100%;
	display: inline-block;
}
.div_insertWord {
	max-width: 90%;
    margin: 0 auto;
	margin-bottom: 30px;
}
.div_insertWord p {
	font-size: 22px;
}
.div_insertWord small {
	font-size: 10px;
}

.div_insertWord input {
	width: 100%;
	padding: 10px 15px;
    resize: none;
	font-size: 15px;
	outline: none;
}

.form_actions {
	text-align: center;
	margin-top: 20px;
}

.form_actions input{
	width: 130px;
    padding: 12px 0;
	outline: none;
}

.form_actions .btn-input:nth-child(1) {
	background: #66bb6a;
	color: #fff;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 15px;
}
.form_actions .btn-input:nth-child(1):hover {
	background: #81c784;
}
.form_actions .btn-input:nth-child(2) {
	background: #0288d1;
	color: #fff;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 15px;
}
.form_actions .btn-input:nth-child(2):hover {
	background: #039be5;
}
.div_words {
	border-top:1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.div_words p {
    font-size: 22px;
}

.save-words-container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
}
.save-words-container .save-words-title {
	font-size: 22px;
	margin-right: 10px;
}
.save-words-container #save-words {
	text-transform: lowercase;
}

.contaier_search {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 40px;
}

.div_searchWords {
	max-width: 90%;
    margin: 0 auto;
	font-size: 22px;
}

.div_searchWords p {
	margin-top: 25px;
}

.div_searchWords input {
	width: 100%;
    padding: 10px 15px;
    resize: none;
    font-size: 15px;
    outline: none;
}
.div_searchWords input::placeholder {
	text-transform: initial;
}

#campo.erro{
	background: #ed2d2d;
	background: rgba(237,45,45,0.6);
}
#campo.acerto{
	background: #58cc1e;
	background: rgba(88,204,30,0.6);
}

.div_automato {
	margin-right: 20px;
	margin-left: 20px;
}
.container-table {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#automato{
	border-collapse: collapse;
	font-size: 14px;
}
#automato th {
	background: #e1f5fe;
	padding: 8px 5px;
    text-align: center;
    border: 1px solid #000;
    width: 40px;
}
#automato td {
	padding: 8px 5px;
	text-align: center;
	border: 1px solid #000;
	width: 40px;
}
#automato th:first-child,
#automato td:first-child{
	text-align: left;
	width: 50px;
	padding-left: 10px;
}

#getWords{
	outline: none;
	text-transform: lowercase;
}
#getWords.erro{
	background: #ed2d2d;
	background: rgba(237,45,45,0.6);
}
#getWords.acerto{
	background: #58cc1e;
	background: rgba(12, 241, 72, 0.83);
}

.states_selecionado td,
.letra_selecionada{
	background: #58cc1e;
}
.states_selecionado td.letra_selecionada{
	color: black;
	background: green;
}